@font-face{
    font-family:Futura;
    src: url("Futura.ttf");
  }
  
  *{
    font-family: Futura;
  }

.account-fields {
    display: grid;
    justify-content: center;
    padding-top: 20%;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#password-div {
    width: 100%;
    display: none;
    justify-content: center;
}

#register-div {
    display: none;
}