/* General Stylings */
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100%;
    background-color: #313552;
    margin: 0px;
}

@font-face{
    font-family:Futura;
    src: url("Futura.ttf");
  }
  
  *{
    font-family: Futura;
  }

/* Side Menu Stylings */
.sidebar {
    display: block;
    height: 100%;
    text-align: center;
    background-color: #eee6ce;
    width: 100%;
}

.sa-logo {
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #a29d8d;
}

#sa-banner {
    padding-top: 40px;
    width: 80%;
    height: auto;
}

.user-info {
    display: table;
    height: 50px;
    padding-top: 40px;
    border-bottom: 3px solid #a29d8d;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6%;
    background-color: #b8405e;
    width: 94%;
}

.user-info > div {
    display: table-cell;
    vertical-align: middle;
}

#user-avi {
    border-radius: 50%;
    background-color: #313552;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #eee6ce
}

#user-name {
    padding-left: 5px;

}

.menu-btns {
    display: inline-block;
    width: 100%;
}

.tab-btn {
    width: 90%;
    height: 60px;
    text-align: center;
    border-bottom: 3px solid #a29d8d;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #eee6ce;
}

.tab-btn:active, .tab-btn:focus, .tab-btn:hover { 
    background-color: #a29d8d;
    width: 100%;
}

.active {
    background-color: #a29d8d;
    width: 100%;
}

/* Main Content Stylings */
.content {
    display: grid;
    padding: 10px;
    padding-bottom: 0px;
}

/* Kanban Board/Home Stylings */
.kanban-display {
    display: grid;
    grid-template-rows: 10% 70% 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}

.kanban-board {
    display: grid;
    grid-template-columns: 31% 31% 31% 3%;
    justify-items: center;
    width: 100%;
}

.kanban-column {
    display: inline;
    width: 80%;
    height: 95%;
    border-radius: 20px;
    background-color: #269874;
    text-align: center;
    justify-items: center;
}

.kanban-content {
    height: 100%;
    width: 100%
}

.kanban-head {
    border-bottom: 5px solid #eee6ce;
}

.kanban-task {
    display: inline-block;
    width: 90%;
    height: 6%;
    background-color: #2eb086;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
}

.kanban-add {
    width:100%
}

.kanban-add > button {
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
}

#add-task-img:active, #add-task-img:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}


.kanban-remove {
    display: grid;
    background-color: #b8405e;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    position: relative;

    width: 50%;
}

.kanban-remove > img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Calendar Stylings */
#cal-display {
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
    justify-content: center;
}

/* Formatting for task list */
.task-list {
    justify-content: center;
    width: 96%;
    display: flex;
}

.task-list > ul {
    text-align: center;
    list-style-type: none;
    height: 90%;
    overflow: hidden; 
    overflow-y: scroll;
    background-color: #269874;
    width: 100%;
    padding: 0px;
}

.task-list-item {
    display: inline-block;
    background-color: #2eb086;
    width: 80%;
    height: 75px;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px;
}

.task-list-item > p {
    margin: 0;
}

#cal-container {
    background-color: #269874;
    width: 96%;
    text-align: center;
    height: auto;
}

#cal-container > h2 {
    font-size: xx-large;
}

#cal-container > table > tbody > tr > td {
    height: 75px;
    width: 75px;
    padding: 0px;
    text-align: center;
}

.cal-day {
    background-color: #2eb086;
}

.cal-day:hover {
    background-color: #269874;
}

.active-day, .active-day:hover {
    background-color: #b8405e;
}

/* Class for current date */
.today {
    border: dotted black 2px;
}

/* Settings Stylings */
#settings-display{
    display: grid;
    justify-items: center;
    width: 100%;
    color: #eee6ce;
}

.account-fields {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.account-fields > h2 {
    margin: 0;
    padding-top: 50px;
}

.settings-item {
    background-color: #269874;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

input[type=text], input[type=password] {
    width: 350px;
    height: 36px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 435px;
    height: 50px;
    background-color: #2eb086;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=submit]:active {
    background-color: #269874;
    border: 3px solid #2eb086;
}

#email-div {
    width: 100%;
}

#password-div {
    width: 100%;
    display: grid;
    justify-items: center;
}

#name-div {
    width: 100%;
}

#register-div {
    width: 100%;
    display: grid;
    justify-items: center;
}

#name-input > input {
    width: 172px;
}

#notif-info {
    display: grid;
    justify-items: center;
}

#notif-info > div {
    padding-bottom: 6px;
    width: 100%;
}

#phone-info {
    margin-bottom: 15px;
}

#pick-carrier {
    display: grid;
    justify-content: center;
}

#logout-btn {
    background-color: #b8405e;
    width: 25%;
}
