<!DOCTYPE html>
<html>
  <head>
    <!--Title & Link to CSS file-->
    <title>StudentAssist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SA_style.css') }}">
  </head>
  <body>
  <!--Side menu buttons-->
  <div class="menu">
    <div class="menu-btns">
        <button class="tab-btn" id="home-btn" onclick="location.href='/home'">Home</button>
        <button class="tab-btn active-btn" id="cal-btn" onclick="location.href='/calendar'">Calendar</button>
        <button class="tab-btn" id="settings-btn" onclick="location.href='/settings'">Settings</button>
    </div>
    <!--Format the button to show the active tab-->
    <script src="{{ url_for('static', filename='js/utils.js') }}"> 
        setActiveTab("home-btn");
    </script>
  </div>
  <div class="content">
    Calendar Here
  </div>
  </body>
</html>