<!DOCTYPE html>
<html>
  <head>
    <!--Title & Link to CSS file-->
    <title>StudentAssist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SA_style.css') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"> </script>
  </head>
  <body>
  <!--Side menu buttons-->
  <div class="sidebar">
    <div class="sa-logo">
      <h2>StudentAssist</h2>
    </div>
    <div class="user-info">
      User Info
    </div>
    <div class="menu-btns">
      <button class="tab-btn active" id="home-btn" onclick="openTab(event, 'home')">Home</button>
      <button class="tab-btn" id="cal-btn" onclick="openTab(event, 'calendar')">Calendar</button>
      <button class="tab-btn" id="settings-btn" onclick="openTab(event, 'settings')">Settings</button>
    </div>
  </div>
  <div class="content">
    <div class="tab-content" id="home">
      <div class="kanban-display">
        <div class="notif-contain">
          <div id="notification"></div>
        </div>
        <div class="kanban-board">
          <div class="kanban-column" id="kanban-todo">
            <div class="kanban-head">
              <h2>To-Do</h2>
            </div>
            <div class="kanban-content" id="todo-content" ondrop="drop(event)" ondragover="allowDrop(event)">
            </div>
          </div>
          <div class="kanban-column" id="kanban-inprog">
            <div class="kanban-head">
              <h2>In-Progress</h2>
            </div>
            <div class="kanban-content" id="inprog-content" ondrop="drop(event)" ondragover="allowDrop(event)">
            </div>
          </div>
          <div class="kanban-column" id="kanban-done">
            <div class="kanban-head">
              <h2>Done</h2>
            </div>
            <div class="kanban-content" id="done-content" ondrop="drop(event)" ondragover="allowDrop(event)">
            </div>
          </div>
          <div class="kanban-add">
            <button id="add-task" onclick="userCreateTask()">
              <img id="add-task-img" src="{{ url_for('static', filename='icons/plus.png') }}" width="80" height="80" />
            </button>
          </div>
        </div>
        <div class="kanban-remove" id="kanban-delete" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="kanban-delete" src="{{ url_for('static', filename='icons/trash.png') }}" width="80" height="80" />
        </div>
      </div>
    </div>
    <div class="tab-content" id="calendar">
      <div id="cal-display">
      </div>
    </div>
    <div class="tab-content" id="settings">
      Settings Test!
    </div>
  </div>
  <!--Format the button to show the active tab-->
  <script>
    startStudentAssist();
    setInterval(pullUserTasks, 3000);
  </script>
  </body>
</html>